<% provide(:title, "About") %>
<h1>About</h1>
<p>
Diese Applikation wurde im Rahmen des Kurses "Entwicklung von Anwendungssystemen"
im Master "Operations Research" von Mattis Busse und Niklas Zahn erstellt.
</p>
<br>
<%= link_to 'Zurück zur Startseite', home_path %>
