<% provide(:title, "Kontakt") %>
<h1>Kontakt</h1>
<p>
Für Fragen zur Applikation wenden Sie sich an das Institut für <a href="https://www.wiwi.uni-hannover.de/produktionswirtschaft.html">Produktionswirtschaft</a>.
</p>
<br>
<%= link_to 'Zurück zur Startseite', home_path %>
