<% provide(:title, "Help") %>
<h1>Hilfe</h1>
<p>
Diese Applikation dient der Eingabe ihrer Präferenzen auf die Anfertigung einer Bachelorarbeit
innerhalb der Institute der wirtschaftswissenschaftlichen Fakultät.
Bitte melden Sie sich an und geben Sie ihre Präferenzwerte in die Eingabemaske ein.
</p>

<% if logged_in? %>
<p>
WICHTIG!
Ein Wert von 1 spiegelt die größtmögliche Präferenz wieder. Ein Wert von 10 die Niedrigste.
Möchten Sie also, beispielhaft, am liebsten ihre Bachelorarbeit am Institut für Produktionswirtschaft schreiben,
geben Sie dort einen Wert von 1 an.
Sie können Werte mehrfach vergeben. Achten Sie auch darauf, dass Sie auch
Werte zwischen 1 und 10 eingeben, wenn dies ihren Präferenzen entspricht, da
das Modell alle Institute mit gleichen Präferenzwerten auch beim Auswahlprozess gleich behandelt.
</p>
<p>
Sie können sich <%= link_to "hier", institute_path %> die Kurzvorstellungen
der einzelnen Institute ansehen.
</p>
<% else %>
Sie können sich <%= link_to "hier", root_path %> anmelden.
<% end %>
