<div class="container" >
  <h1>Willkommen auf der Startseite zur Allokation von Bachelorarbeiten</h1>

<br>
<% if logged_in? && current_user.admin == true %>
  <center>
    <%= link_to "Hier geht es zur Verwaltung der Institute", sites_path, class: "btn btn_home btn-primary", "data-turbolinks": "false"   %><br>
  </center>
      <br>
  <center>
    <%= link_to "Hier geht es zur Optimierung", optimize_path, class: "btn btn_home btn-primary", "data-turbolinks": "false"   %><br>
  </center>
      <br>
<% end %>
<% if logged_in? && current_user.admin == false %>
<h2>
  Wähle über diese Seite deine präferierten Institute!
</h2>
<center>
      <br>
      <center>
      <%= link_to "Hier geht es zur Eingabe der Präferenzen", user_path(current_user), class: "btn btn_home btn-primary", "data-turbolinks": "false"   %><br>
      <center>

        <br>
        <center>
        <%= link_to "Hier geht es zur Vorstellung der Institute", institute_path, class: "btn btn_home btn-primary", "data-turbolinks": "false"   %><br>
        <center>
<br>
<% end %>
<br>
