<% provide(:title, "Institute") %>
<h1>Institute der wirtschaftswissenschaftlichen Fakultät</h1>


<br><br><br>

<div class="raw">
    <center><div class="image">
      <%= link_to "https://www.wiwi.uni-hannover.de/steuerlehre.html", target: :_blank do %>
      <%= image_tag("Blaufus.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Steuerlehre</b></figcaption>
            <% end %>
          </div></center>

      <center><div class="image">
      <%= link_to "https://www.wiwi.uni-hannover.de/banken_und_finanzierung.html", target: :_blank do %>
      <%= image_tag("Dierkes.jpeg", height: :"100", alt: "Logo") %>
          <figcaption><b>Banken u. Finanzierung</b></figcaption>
          <% end %>
        </div></center>

        <center><div class="image">
            <%= link_to "https://www.wiwi.uni-hannover.de/arbeitsoekonomik.html", target: :_blank do %>
            <%= image_tag("Puhani.jpeg", height: :"100", alt: "Logo") %>
                <figcaption><b>Arbeitsökonomik</b></figcaption>
                <% end %>
              </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/finanzmarkttheorie.html", target: :_blank do %>
          <%= image_tag("Prokopczuk.jpeg", height: :"100", alt: "Logo") %>
          <figcaption><b>Finanzmarkttheorie</b></figcaption>
            <% end %>
          </div></center>
        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/entwicklungs_und_agraroekonomik.html", target: :_blank do %>
            <%= image_tag("Waibel.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Entwicklungs u. Agrarökonomie</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
            <%= link_to "https://www.wiwi.uni-hannover.de/controlling.html", target: :_blank do %>
            <%= image_tag("Schoendube.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Controlling</b></figcaption>
            <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/internationale_finanzwirtschaft.html", target: :_blank do %>
            <%= image_tag("Meyer.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Finanzwirtschaft</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/3834.html?&no_cache=1", target: :_blank do %>
            <%= image_tag("Haunschild.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Arbeitswissenschaft</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/makrooekonomik.html", target: :_blank do %>
            <%= image_tag("Gassebner.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Makroökonomik</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/marketing_und_management.html", target: :_blank do %>
            <%= image_tag("Wiedmann.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Marketing u. Manag.</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/mikrooekonomik.html", target: :_blank do %>
            <%= image_tag("Hoppe.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Mikroökonomik</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/oeffentliche_finanzen.html", target: :_blank do %>
            <%= image_tag("Homburg.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>öfftl. Finanzen</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/personal_und_arbeit.html", target: :_blank do %>
            <%= image_tag("Ridder.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Personal und Arbeit</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/produktionswirtschaft.html", target: :_blank do %>
            <%= image_tag("Helber.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Produktionswirtschaft</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/rechnungslegung.html", target: :_blank do %>
            <%= image_tag("Wielenberg.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Rechnungslegung</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/statistik.html", target: :_blank do %>
            <%= image_tag("Sibbertsen.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Statistik</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/umweltoekonomik.html", target: :_blank do %>
            <%= image_tag("Grote.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Umweltökonomik</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/unternehmensfuehrung.html", target: :_blank do %>
            <%= image_tag("Weber.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Unternehmensführung</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/versicherungsbetriebslehre.html", target: :_blank do %>
            <%= image_tag("vonderSchulenburg.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Versicherungsbetriebslehre</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/wirtschaftsinformatik.html", target: :_blank do %>
            <%= image_tag("Breitner.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Wirtschaftsinformatik</b></figcaption>
          <% end %>
          </div></center>

        <center><div class="image">
          <%= link_to "https://www.wiwi.uni-hannover.de/sozialpolitik.html", target: :_blank do %>
            <%= image_tag("Wagener.jpeg", height: :"100", alt: "Logo") %>
            <figcaption><b>Sozialpolitik</b></figcaption>
          <% end %>
          </div></center>

      </div>
