<%= image_tag("wiwi_neu5a3.jpg", alt: "wiwi_neu5a3 logo") %>
<br>
<br>

<% if logged_in? %>
<% provide(:title, 'Sie sind bereits eingeloggt!') %>
<h1>Sie sind bereits eingeloggt!</h1>
<% else %>

<div class="row">
  <h1>Anmeldung</h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :matrikelnummer %>
      <%= f.text_field :matrikelnummer, class: 'form-control' %>

      <%= f.label :passwort %>

      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
       <span>Anmeldedaten auf diesem Gerät speichern</span>
      <% end %>
      <br>
      <div class="btn_center">
      <%= f.submit "Anmelden", class: "btn btn_anmelden btn-primary" %></div>
    <% end %>
<br>
    <p class="password"><%= link_to "Passwort vergessen?", new_password_reset_path %></p>

    <br>
    <p class="register"><%= link_to "Noch nicht registriert? Hier geht's zur Registrierung!", signup_path, "data-turbolinks": "false" %></p>
  </div>
</div>
<% end %>
