<div class="container">
<% if logged_in? && current_user.admin == true %>

<h1>Optimierung<h1>
  <center>
<%= button_to "Lösche Zuordnung", :controller => 'translinks', :action =>  'delete_zuordnung' %>
</center>

  <center>
<%= button_to "Optimiere", :controller => 'translinks', :action =>  'optimize' %>
</center>

  <center>
<%= button_to "Zuordnung einlesen", :controller => 'translinks', :action =>  'read_zuordnung' %>
</center>
    <br>
<% end %>
</div>
<br>
<%= link_to 'Zurück zur Startseite', home_path %>
