<h1>Vergabe der Bachelorarbeiten</h1>

<p>Hallo <%= @user.name %>,</p>

<p>
Klicke bitte auf den Link, um deinen Account zu aktivieren:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
