<h1>Password zurücksetzen</h1>

<p>Um dein Passwort zurückzusetzen klicke bitte auf den Link:</p>

<%= link_to "Passwort zurücksetzen", edit_password_reset_url(@user.reset_token,
                                                             email: @user.email) %>

<p>Dieser Link wird in 2 Stunden verfallen.</p>

<p>
Wenn Sie keine Zurücksetzung ihres Passwortes angefordert haben, ignorieren sie diese Email und
ihr Passwort bleibt damit unverändert.
</p>
