Um dein Passwort zurückzusetzen klicke bitte auf den Link:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Dieser Link wird in 2 Stunden verfallen.

Wenn Sie keine Zurücksetzung ihres Passwortes angefordert haben, ignorieren sie diese Email und
ihr Passwort bleibt damit unverändert.
