<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :matrikelnummer %>
  <%= f.text_field :matrikelnummer, class: 'form-control' %>

  <%= f.label :passwort %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Bestätigung" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn_user btn-primary" %>
<% end %>
