<li>
  <%= link_to user.matrikelnummer, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "Löschen.", user, method: :delete,
                                  data: { confirm: "Sicher?" } %>
  <% end %>
</li>
