<% provide(:title, 'Benutzerdaten ändern') %>
<center><% provide(:button_text, 'Speichere Änderungen') %></center>
<h1>Aktualisiere dein Profil</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
