<% if logged_in? && current_user.admin == true %>
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
<% end %>
<br>
<%= link_to 'Zurück zur Startseite', home_path %>
