<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Erstelle meinen Account') %>

<div class="row">
  <h1>Anmeldung</h1>
  <div class="col-md-6 col-md-offset-3">
    <center><%= render 'form' %></center>
  </div>
</div>
