<% provide(:title, @user.name) %>
<% if logged_in? && current_user.admin == true %>
<h1>Zuordnung</h1>
<table id="translinks" class="display">
  <thead>
    <tr>
      <th>Student</th>
      <th>Preferencesite</th>
      <th>Zuordnung</th>
    </tr>
  </thead>

  <tbody>
    <% @translinks.each do |translink| %>
      <% if translink.zuordnung == true.to_s %>
        <tr>
          <td><%= translink.user_id %></td>
          <td><%= translink.preferencesite_id %></td>
          <td><%= translink.zuordnung %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

  <% if logged_in? && current_user.admin == false && current_user.id == @user.id %>
  <div class="row">
      <section class="user_info">
        <h1>
          <%= @user.name %>  </h1>
          <table id="preferencesites" class="display">
            <thead>
              <tr>
                <th>Institut</th>
                <th>Präferenzwert</th>
              </tr>
            </thead>
            <h1>Präferenzen</h1>
            <br>
            <h>Zum Bearbeiten der Präferenz auf das jeweilige Feld mit dem vorgegebenen Wert klicken</h><br>
            <tbody>
              <% @preferencesitesByUser.each do |preferencesite| %>
                <tr>
                  <td><%= preferencesite.name %></td>
                  <td><%= best_in_place preferencesite.itself, :preference %></td>
                </tr>
                <% end %>
              </tbody>
            </table>


    </section>

  <section class="stats">
  <%= render 'shared/stats' %>
  </section>
</div>
<% end %>
<br>
<%= link_to 'Zurück zur Startseite', home_path %>
