<%= form_with(model: translink, local: true) do |form| %>
  <% if translink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translink.errors.count, "error") %> prohibited this translink from being saved:</h2>

      <ul>
      <% translink.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.number_field :preferencesite_id, id: :translink_preferencesite_id %>
  </div>

  <div class="field">
    <%= form.label :zuordnung %>
    <%= form.text_field :zuordnung, id: :translink_zuordnung %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
