<p id="notice"><%= notice %></p>

<h1>Translinks</h1>

<table id="translinks" class="display">
  <thead>
    <tr>
      <th>Student</th>
      <th>Insitut</th>
      <th>Zuordnung</th>
    </tr>
  </thead>

  <tbody>
    <% @translinks.each do |translink| %>
      <% if translink.zuordnung == true.to_s %>
        <tr>
          <td><%= translink.user_id %></td>
          <td><%= translink.preferencesite_id %></td>
          <td><%= translink.zuordnung %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  <br>
</table>
<br><br><br>

<br>



<br>

<%= link_to 'Zurück zur Optimierungsseite', optimize_path, "data-turbolinks": "false" %>
