<%= form_with(model: preferencesite, local: true) do |form| %>
  <% if preferencesite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preferencesite.errors.count, "error") %> prohibited this preferencesite from being saved:</h2>

      <ul>
      <% preferencesite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :site_name %>
    <%= form.text_field :site_name, id: :preferencesite_name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :id, id: :user_id %>
  </div>

  <div class="field">
    <%= form.label :preference %>
    <%= form.text_field :preference, id: :preferencesite_preference %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
