<p id="notice"><%= notice %></p>

<h1>Institute</h1>

<table id="preferencesites" class="display">
  <thead>
    <tr>
      <th>Site</th>
      <th>Preference</th>
    </tr>
  </thead>

  <tbody>
    <% @preferencesites.each do |preferencesite| %>
      <tr>
        <td><%= preferencesite.name %></td>
        <td><%= best_in_place preferencesite.itself, :preference %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', optimize_path %>
