<p id="notice"><%= notice %></p>

<p>
  <strong>Preference:</strong>
  <%= @preferencesite.preference %>
</p>

<p>
  <strong>Site:</strong>
  <%= @preferencesite.site.name %>
</p>

<%= link_to 'Edit', edit_preferencesite_path(@preferencesite), "data-turbolinks": "false" %> |
<%= link_to 'Back', preferencesites_path, "data-turbolinks": "false" %>
