<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :name, id: :site_name %>
  </div>

  <div class="field">
    <%= form.label :Professorenkapazität %>
    <%= form.text_field :prof, id: :site_prof %>
  </div>

  <div class="field">
    <%= form.label :Mitarbeiterkapazität %>
    <%= form.text_field :hiwi, id: :site_hiwi %>
  </div>

  <div class="field">
    <%= form.label :Kapazitätserhöhung %>
    <%= form.text_field :capincr, id: :site_capincr %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
