<% if logged_in? && current_user.admin == true %>
<p id="notice"><%= notice %></p>
<h1>Institute</h1>
<table id="sites" class="display">
  <thead>
    <tr>
      <th>Name</th>
      <th>Professorenkapazität*</th>
      <th>Mitarbeiterkapazität*</th>
      <th>Kapazitätserhöhung(%)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.name %></td>
        <td><%= best_in_place site.itself, :prof %></td>
        <td><%= best_in_place site.itself, :hiwi %></td>
        <td><%= best_in_place site.itself, :capincr %></td>
        <td><%= link_to 'Löschen', site, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neues Institut anlegen', new_site_path, "data-turbolinks": "false" %> |
<%= link_to 'Zurück zur Startseite', home_path %>

<br><br><br>
<h>*Zum Bearbeiten der Anzahlen von Professoren oder Mitarbeitern in das jeweilige Feld klicken. Bitte geben Sie pro Feld die Anzahl der gesamten Kapazität für diese Mitarbeiterkategorie ein.</h>
<% end %>
