<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= best_in_place @site, :name %>
</p>

<p>
  <strong>Prof:</strong>
  <%= best_in_place @site, :prof %>
</p>

<p>
  <strong>Hiwi:</strong>
  <%= best_in_place @site, :hiwi %>
</p>

<p>
  <strong>Capincr:</strong>
  <%= best_in_place @site, :capincr %>
</p>

<%= link_to 'Edit', edit_site_path(@site), "data-turbolinks": "false" %> |
<%= link_to 'Back', sites_path, "data-turbolinks": "false" %>
