<footer class="footer">
  <div class="container">
  <small>
  von Mattis Busse und Niklas Zahn
  </small>
    <nav>
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Kontakt", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
