<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
<nav>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? && current_user.admin == false %>
        <li><%= link_to "Home", home_path, "data-turbolinks": "false"%></li>
        <li><%= link_to "Präferenzeingabe", user_path(current_user), "data-turbolinks": "false"%></li>
        <li><%= link_to "Institute", institute_path, "data-turbolinks": "false" %></li> 
        <li><%= link_to "Hilfe",    help_path, "data-turbolinks": "false" %></li>
        <li><%= link_to "Profildaten editieren", edit_user_path(current_user), "data-turbolinks": "false" %></li>
        <li><%= link_to "Ausloggen", logout_path, method: :delete %></li>
        <% end %>
        <% if logged_in? && current_user.admin == true %>
          <li><%= link_to "Home", home_path, "data-turbolinks": "false"%></li>
          <li><%= link_to "Optimierung", optimize_path, "data-turbolinks": "false" %></li>
          <li><%= link_to "Benutzer", users_path, "data-turbolinks": "false"%></li>
          <li><%= link_to "Institute", sites_path, "data-turbolinks": "false"   %></li>
          <li><%= link_to "Profildaten editieren", edit_user_path(current_user), "data-turbolinks": "false" %></li>
          <li>
          <%= link_to "Ausloggen", logout_path, method: :delete %>
          </li>
        <% end %>
        <% if logged_in? == false %>
        <li><%= link_to "Anmelden", root_path, "data-turbolinks": "false"%></li>
        <li><%= link_to "Hilfe",    help_path, "data-turbolinks": "false" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
